
@media (min-width: 768px) and (max-width: 980px) {
	#bannerbg{height:670px;}
	.main-menu{float: none;}
	.main-menu .nav li{margin-left: 20px;}
	.inner-header .pinnacle-heading{margin: 0 auto; display: table; text-align: center;}
	.simplefilter li{margin-bottom: 20px;}
	.filtr-container .event-pic{height: 134px !important;}
	.inner-banner{height: 294px; padding:100px 0;}
	.event-detail{margin-bottom: 20px;}
	.event-detail img{width: 100%; height: 300px;}
	.spr0{padding-right: 0;}
	.spl0{padding-left: 0;}
	.amazing-price{margin-bottom: 30px;}
	.how-it{padding:20px;}
	.pi-btn{margin-top: 0;}


}

@media (max-width: 640px) {
	#bannerbg{height:750px;}
	.contact-btn{margin-top: 30px;}
	.reg-btn{float:left; width: 100%}
	.banner-inner h1{font-size:30px;}
	.banner-inner h3{font-size: 20px; line-height: 28px;}
	.event-register{margin-top: 27px;}
	.main-menu 	.navbar-collapse{background-color: #f5f5f5; border: 1px solid #ddd; border-top: none; left: 0; margin: 0; padding: 0; position: absolute; top: 65px; width: 100%; z-index: 9999;}
	.main-menu{float: left !important; width: 100%; margin-top:-38px !important;}
	.main-menu .navbar{min-height: 0 !important;}
	.main-menu .nav li{margin-left: 0 !important;}
	.main-menu .nav li a{padding: 10px 0; text-align: center;}
	.main-menu .navbar-collapse{padding-right: 20px !important;}
	#bs-example-navbar-collapse-1{padding-left: 0 !important;}
	.event-interest .owl-nav{display: none;}
	.register-now h3{font-size: 18px;}
	.register-now h3 span{display: block; width: 100%; float: none; margin: 0 auto; text-align: center; margin-top: 30px;}
	.map{top: 0; margin: 20px 0 35px;}
	.simplefilter li{margin-bottom: 20px; padding: 5px 15px 6px !important; margin-right: 10px !important;}
	.inner-banner{height: 160px; padding: 60px 0;}
	.inner-banner h1{font-size: 32px;}
	.map iframe{border-radius:0;}
	.map:before{display: none;}
	.gallerydet-tab{margin-top: 20px;}
	.filtr-container .event-pic{height: 201px !important;}
	.inner-page{padding:30px 0 0;}
	.workshop .event-detail{margin-left: 0 !important; margin-right: 0;}
	.workshop, .workshop-right{margin-left: 0; padding: 20px 0; margin-right: 0;}
	.workshop h3{font-size: 18px; line-height: 24px; margin-top: 15px;}
	.workshop-right .event-detail{margin-top: 20px;}
	.main-head h3{font-size: 18px; line-height: 24px;}
	.workshop-det h3{font-size: 18px; line-height: 24px; margin-top: 15px;}
	.event-detail{margin-bottom: 15px;}
	.address-bx{min-height: auto !important; padding: 20px; margin-bottom: 20px;}
	.spr0{padding-right: 0;}
	.spl0{padding-left: 0;}
	.amazing-price{margin-bottom: 30px;}
	.how-it{padding:20px;}
	.pi-btn{margin-top: 0;}
	.auto-gallery{height: auto !important;}
	.proudly-present{margin:0 auto 10px; width: 70%;}
}

